.navbar{
  margin: 0px;
  padding: 0px;
}
.nav {

  float: left;
  padding: 5px;
  /* margin: 5px; */
  margin: 0px 10px 0px 0px;
  list-style: none;
  background: #c19b66;
  width:100%;
  position: fixed;
}
.nav li {
  float: left;
}

.nav li a {
  display: block;
  padding: 9px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #955033;
}

.brand {
  float: right;
  font-weight: bold;
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #ac8b76;
  letter-spacing: 1px;
  text-shadow: 3px 2px #955033;
  font-family: verdana;
  font-size: 25px;
  background: #d4be90;
  border-radius: 10px;
  margin: 0px 20px 0px 0px;
}
